body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px 48px 48px;
}

.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1f2937;
    padding: 16px 48px 48px 48px;
    gap: 16px;
}

.description > .text {
    color: white;
    /* text-align: center; */
    max-width: 400px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 24px;
}

img {
    /* border: none; */
    border-radius: 10px;
}

.info-image {
    width: 200px;
    height: auto;
}

.big-image {
    width: 480px;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 48px 48px;
}

.quote {
    max-width: 400px;
}

.call-section {
    padding: 48px 96px;
}

.call-to-action {
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 16px 32px;
    border-radius: 10px;
    color: white;
    
}

.call-to-action button {
    border: 2px solid white;
    /* border-radius: 10px; */
}

.footer {
    padding: 32px 48px;
    text-align: center;
}